.buildpath
.project
.settings
.idea
desktop.ini
Thumbs.db
.DS_Store
.rsync_cache
catalog.xml
nbproject/
app/logs/*
app/cache/*
app/spool/*
app/bootstrap.*
app/config/parameters.ini
app/config/parameters.yml
vendor/*
web/uploads/*
web/bundles/*
web/css/*
web/images/*
web/js/*
web/media/cache/*
*~